.hero {

    .box {
        min-width: 300px;
        width: 100%;
        line-height: 1.33;
        margin: 0 auto;
        padding: 50px 0;
        text-align: center;
        padding-bottom: 0px;

        @include larger-than(tablet) {
            width: 100%;
            margin: auto;
            padding: 20px 0 0;
        }

        @include larger-than(desktop) {
            margin: auto;
            width: 100%;
        }

        .top {
            margin: 0 auto;
            padding: 10px 10px;

            @include larger-than(tablet) {
                width: 100%;
                padding: 0px;
            }

            @include larger-than(desktop) {
                padding: 0px;
                width: 100%;
            }

            h1 {
                margin: 0 auto;
                width: 100%;
                @extend .font_regular;
                line-height: 1.3;
                text-align: center;
                color: $dark_blue;
                font-size: 27px;
                outline: none;

                @include larger-than(tablet) {
                    font-size: 50px;
                }

                .heading-offer {
                    display: block;

                    @include smaller-than(tablet) {
                        .hide-checking {
                            display: none !important;
                        }
                    }
                }
            }

            .sentence {
                font-size: 14px;
                font-family: 'interstateregular';
                line-height: 1.8;
                font-weight: 300;
                margin: 0 auto;
                text-align: center;
                color: $near_black;

                @include larger-than(tablet) {
                    order: 2;
                    width: 100%;
                    text-align: center;
                    letter-spacing: -0.03em;
                    margin: 0 auto;
                }

                @include larger-than(desktop) {
                    width: 100%;
                    font-size: 16px;
                    line-height: 1.6;
                    letter-spacing: 0;
                }

                .last-sentence {

                    // display: block;
                    // @include smaller-than(lgmobile){
                    //     display:block;
                    // }
                    @include larger-than(lgmobile) {
                        display: block;
                    }

                    @include larger-than(tablet) {
                        display: block;
                    }

                    .state-text {
                        @extend .font_bold;
                    }
                }

                .change {
                    border: 0;
                    // outline: none;
                    text-decoration: underline;
                    -webkit-appearance: none;
                    color: $citi_blue;
                    font-size: inherit;
                    background-color: transparent;
                    display: block;
                    margin: 0 auto;
                    padding: 0;
                    cursor: pointer;
                    line-height: 1.5;

                    &:focus,
                    &:hover {
                        color: $dark_blue;
                    }

                    @include larger-than(tablet) {
                        display: inline;
                        font-size: 16px;
                        text-decoration: underline;
                    }
                }
            }


        }
    }
}