<div class="zs-dialog" data-trig-class="open-zip-selector" style="display:none" role="dialog" aria-modal="true">
	<div class="zs-box">
		<div class="container initial">
			<h1 class="zs-title">Where do you live?</h1>
			<div class="zs-subtitle">
				<p class="paragraph">The products and pricing we offer may vary between locations. By using the ZIP code of your home (not mailing) address, we can provide you with accurate information.</p>
				<p class="paragraph">If you choose to cancel this process, you may be redirected to a different page.</p>
			</div>
		</div>
		<div class="container unavailable" style="display:none" aria-live="polite" aria-atomic="true">
			<h1 class="zs-title-unavailable" tabindex="-1">Unfortunately, this type of account is not available&nbsp;in&nbsp;your&nbsp;location.</h1>
			<p class="zs-subtitle-unavailable">
				See how you can still save. <a class="learn-more nobr" href="{{{learnMoreUrl}}}" aria-label="Learn More">Learn More ></a>
				<span class="or">OR</span>
				If you would like to try again, please update your home ZIP code.
			</p>
		</div>

        <form class="zip-form">
            <div class="input-wrapper">
                <label class="zip-label">Enter Home ZIP code</label>
                <input class="text" name="zip" aria-label="Zip Code" type="text" data-allowed-pattern="[\d]" pattern="[0-9]*" inputmode="numeric" aria-required="true" maxlength="5" autocomplete="off"/>
            </div>
            <div class="buttons-wrapper">
                <input class="submit" type="submit" name="btnSubmit" value="Submit">
                <a href="{{{cancelUrl}}}" class="cancel">Cancel</a>
                <button class="cancel" type="button">Cancel</button>
            </div>
	    </form>

		<button class="close-dialog" type="button" aria-label="close">&times;</button>
	</div>
</div>
