<section class="badge-container">
    <i class="badge">Rated #1 in the 2016-17 American Customer Satisfaction Index (ACSI) Retail&nbsp;Banking Survey for National Banks.<sup><a href="#terms4">4</a></sup></i>
</section>