<section class="compare-packages">
    <div class="box wrapper">
        <h2>
             <button id="" aria-expanded="true" aria-controls="panel" class="accordion active">Compare accounts</button>
        </h2>
        <div class="bottom panel panel-open" id="panel">
            <div class="top-title">
                <ul aria-hidden="true">
                    <li>ACCOUNTS</li>
                    <li class="offer200 packageBtn basic-account" >BASIC BANKING ACCOUNT</li>
                    <li class="offer500 packageBtn">CITIBANK<sup>®</sup> ACCOUNT</li>
                    <li class="offer600 packageBtn">CITI PRIORITY ACCOUNT</li>
                </ul>
                <ul aria-hidden="false">
                    <li><a class="terms" href="#terms">See offer Terms and Conditions</a></li>
                </ul>
                <ul aria-hidden="false">
                    <li><span class="package-heading">ACCOUNTS</span><h3><a class="terms" href="#terms">See offer Terms and Conditions</a></h3></li>
                    <li class="offer200" tabindex="0"><span class="package-heading">BASIC BANKING ACCOUNT</span><span
                            class="title offer200 packageBtn">Earn</span><span class="dollar offer200 packageBtn">$</span><span
                            class="ammount offer200 packageBtn">200</span></li>
                    <li class="offer500" tabindex="0"><span class="package-heading">CITIBANK ACCOUNT</span><span
                            class="title offer500 packageBtn">Earn</span><span class="dollar offer500 packageBtn">$</span><span
                            class="ammount offer500 packageBtn">400</span></li>
                    <li class="offer600" tabindex="0"><span class="package-heading">CITI PRIORITY ACCOUNT</span><span
                            class="title offer600 packageBtn">Earn</span><span class="dollar offer600 packageBtn">$</span><span
                            class="ammount offer600 packageBtn">700</span></li>
                </ul>
            </div>
            <div class="package-details" aria-hidden="false">
                <div class="package package-content">
                    <ul>
                        <li>
                            <ul>
                                <li tabindex="0"><span class="package-heading">ACCOUNTS</span><h3> Unlimited check
                                        writing
                                    </h3></li>
                                <li class="offer200 tick" tabindex="0"><img src="images/check-mark.png" alt="checkmark"><span class="package-heading">BASIC BANKING ACCOUNT available</span></li>
                                <li class="offer500 tick" tabindex="0"><img src="images/check-mark.png" alt="checkmark"><span class="package-heading">CITIBANK ACCOUNT available</span><span >No fee for first standard checkbook order.</span></li>
                                <li class="offer600 tick" tabindex="0"><img src="images/check-mark.png" alt="checkmark"><span class="package-heading">CITI PRIORITY ACCOUNT available</span><span >No fee for standard checkbook orders.</span></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li tabindex="0"><span class="package-heading">ACCOUNTS</span><h3>No Citi
                                    Fee for Using Non-Citi ATMs<sup><a href="#terms2" aria-label="Footnote2">2</a></sup></h3></li>
                                <li class="offer200 tick" tabindex="0"><img src="images/check-mark.png" alt="checkmark"><span class="package-heading">BASIC BANKING ACCOUNT available</span><span>Fee waived if first listed account owner is 62 or older.</span>
                                </li>
                                <li class="offer500 tick" tabindex="0"><img src="images/check-mark.png" alt="checkmark"><span class="package-heading">CITIBANK ACCOUNT available</span><span>There is a $2.50 non-Citi ATM fee if you do not maintain a minimum
                                        balance of $10,000.</span></li>
                                <li class="offer600 tick" tabindex="0"><img src="images/check-mark.png" alt="checkmark"><span class="package-heading">
                                    CITI PRIORITY ACCOUNT available</span></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li tabindex="0"><span class="package-heading">ACCOUNTS</span><h3>Earn Citi ThankYou<sup>®</sup> Rewards Points when linked to your checking
                                        account<sup><a href="#terms3"  aria-label="Footnote3">3</a></sup></h3></li>
                                <li class="offer200 nil" tabindex="0"><span class="package-heading">BASIC BANKING ACCOUNT not available</span></li>
                                <li class="offer500 tick" tabindex="0"><img src="images/check-mark.png" alt="checkmark"><span class="package-heading">CITIBANK ACCOUNT available</span></li>
                                <li class="offer600 tick" tabindex="0"><img src="images/check-mark.png" alt="checkmark"><span class="package-heading">CITI PRIORITY ACCOUNT available</span></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li tabindex="0"><span class="package-heading">ACCOUNTS</span><h3>Option to earn interest on your checking account balance</h3>
                                </li>
                                <li class="offer200 nil" tabindex="0"><span class="package-heading">BASIC BANKING ACCOUNT not available
                                       </span></li>
                                <li class="offer500 tick" tabindex="0"><img src="images/check-mark.png" alt="checkmark"><span class="package-heading">CITIBANK ACCOUNT available</span></li>
                                <li class="offer600 tick" tabindex="0"><img src="images/check-mark.png" alt="checkmark"><span class="package-heading">CITI PRIORITY ACCOUNT available</span></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li tabindex="0"><span class="package-heading">ACCOUNTS</span><h3>Potential to earn competitive rates on a new Citi<sup>®</sup> Savings Account</h3></li>
                                <li class="offer200 nil" tabindex="0"><span class="package-heading">BASIC BANKING ACCOUNT not available</span></li>
                                <li class="offer500 tick" tabindex="0"><img src="images/check-mark.png" alt="checkmark"><span class="package-heading">CITIBANK ACCOUNT available</span></li>
                                <li class="offer600 tick" tabindex="0"><img src="images/check-mark.png" alt="checkmark"><span class="package-heading">CITI PRIORITY ACCOUNT available</span></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li tabindex="0"><span class="package-heading">ACCOUNTS</span><h3>Preferred
                                        pricing and rates on select deposit products and services<sup><a
                                                href="#terms4" aria-label="Footnote4">4</a></sup></h3></li>
                                <li class="offer200 nil" tabindex="0"><span class="package-heading">BASIC BANKING ACCOUNT not available</span></li>
                                <li class="offer500 nil" tabindex="0"><span class="package-heading">CITIBANK ACCOUNT not available</span></li>
                                <li class="offer600 tick" tabindex="0"><img src="images/check-mark.png" alt="checkmark"><span class="package-heading">CITI PRIORITY ACCOUNT available</span></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li tabindex="0"><span class="package-heading">ACCOUNTS</span><h3>On-demand guidance from Citi Personal Wealth Management Financial Advisors by phone or in branch<sup><a href="#terms5" aria-label="Footnote5">5</a></sup></h3></li>
                                <li class="offer200 nil" tabindex="0"><span class="package-heading">BASIC BANKING ACCOUNT not available</span></li>
                                <li class="offer500 nil" tabindex="0"><span class="package-heading">CITIBANK ACCOUNT not available</span></li>
                                <li class="offer600 tick" tabindex="0"><img src="images/check-mark.png" alt="checkmark"><span class="package-heading">CITI PRIORITY ACCOUNT available</span></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li tabindex="0"><span class="package-heading">ACCOUNTS</span><h3>Access
                                        to investment resources and financial planning tools<sup><a
                                                href="#terms5" aria-label="Footnote5">5</a></sup></h3></li>
                                <li class="offer200 nil"tabindex="0"><span class="package-heading">BASIC BANKING ACCOUNT not available</span></li>
                               <li class="offer500 nil" tabindex="0"><span class="package-heading">CITIBANK ACCOUNT not available</span></li>
                                <li class="offer600 tick" tabindex="0"><img src="images/check-mark.png" alt="checkmark"><span class="package-heading">CITI PRIORITY ACCOUNT available</span></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li tabindex="0"><span class="package-heading">ACCOUNTS</span><h3>Monthly Service
                                        Fee</h3></li>
                                <li class="offer200" tabindex="0"><span class="package-heading">BASIC BANKING ACCOUNT</span><span>$12</span></li>
                                <li class="offer500" tabindex="0"><span class="package-heading">CITIBANK ACCOUNT</span><span>$25</span>
                                </li>
                                <li class="offer600" tabindex="0"><span class="package-heading">CITI PRIORITY ACCOUNT</span><span>$30</span></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li tabindex="0"><span class="package-heading">ACCOUNTS</span><h3>Ways to
                                        avoid monthly service fee</h3></li>
                                <li class="offer200 content-200" tabindex="0"><span class="package-heading">BASIC BANKING ACCOUNT</span><span>Make
                                        one qualifying direct deposit <strong>AND</strong> one qualifying bill payment
                                        per statement period <strong>OR</strong> maintain a combined average monthly
                                        balance of $1,500+ in eligible linked accounts. Fee also waived if first listed
                                        account owner is 62 or older.</span></li>
                                <li class="offer500" tabindex="0"><span class="package-heading">CITIBANK ACCOUNT</span><span>Maintain
                                        a combined average monthly balance of $10,000+ in eligible linked
                                        accounts.</span></li>
                                <li class="offer600" tabindex="0"><span class="package-heading">CITI PRIORITY ACCOUNT</span>Maintain
                                        a combined average monthly balance of $50,000+ in eligible linked
                                        accounts.</li>
                            </ul>
                        </li>
                    </ul>
                    <div class="inssurance">INVESTMENT AND INSURANCE PRODUCTS: NOT INSURED BY THE FDIC • NOT INSURED BY
                        THE FEDERAL GOVERNMENT OR ANY OTHER FEDERAL GOVERNMENT AGENCY, BY THE BANK, OR BY ANY AFFILIATE
                        OF THE BANK • NOT A DEPOSIT OR OTHER OBLIGATION OF, OR GUARANTEED BY, THE BANK OR AN AFFILIATE
                        OF THE BANK • SUBJECT TO INVESTMENT RISK, INCLUDING POSSIBLE LOSS OF THE PRINCIPAL INVESTED
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>