{{> ./hero }}
{{> ./slick }}
{{> ./offer_details }}
{{> ./compare_packages }}

<section class="white content">
	<div class="lower wrapper" >
		<h2>Switch to Citi and enjoy:</h2>
		<ul>
			<li><span><strong>THE MOST FEE-FREE ATMS<br>OFFERED BY A MAJOR BANK IN THE U.S.</strong></span>Get fee-free access to cash at over 60,000 ATMs across the country.<sup><a href="#terms6" aria-label="Footnote6">6</a></sup> <a class="find-atm nobr"
					href="<%= pFindATMNearYou.GetStringURL() %>" target="_blank">Find an ATM near you ></a></li>
			<li><span><strong>SMART DIGITAL FEATURES</strong></span>The Citi Mobile<sup>&reg;</sup> App lets you link non-Citi accounts<sup><a href="#terms7" aria-label="Footnote7">7</a></sup>, deposit checks on-the-go<sup><a href="#terms8" aria-label="Footnote8">8</a></sup>, track spending habits, and easily find nearby ATMs.</li>
			<li><span><strong>24/7 ACCOUNT PROTECTION</strong></span>Have peace of mind with around-the-clock fraud monitoring, activity
				notifications, and alerts. Plus, easily access Citi Identity Theft Solutions should the need ever arise.
			</li>
		</ul>
	</div>
</section>
<section class="grey questions">
	{{>bottom_brandbar}}
</section>