<footer>

    <div class="wrapper">

        <a href="<%= pCitiLogoFooter.GetStringURL() %>" target="_blank" class="logo"><svg
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68.33 39.13">
                <title>Citi</title>
                <path class="cls-1"
                    d="M629.34,38.89a24.05,24.05,0,0,0-39.38,0l-0.23.33h5.7l0.06-.07a19.43,19.43,0,0,1,28.31,0l0.06,0.07h5.7Z"
                    transform="translate(-568.88 -28.65)" />
                <path class="cls-2"
                    d="M587.38,60.2l-0.11.11A8.23,8.23,0,0,1,581.4,63a7.41,7.41,0,0,1-7.53-7.79,7.41,7.41,0,0,1,7.53-7.78,8.23,8.23,0,0,1,5.87,2.74l0.11,0.11,2.8-3.39-0.07-.09a10.7,10.7,0,0,0-8.57-4.1A13,13,0,0,0,572.66,46a12.14,12.14,0,0,0-3.78,9.26,12.17,12.17,0,0,0,3.78,9.27,13,13,0,0,0,8.88,3.26,10.7,10.7,0,0,0,8.57-4.1l0.07-.08Z"
                    transform="translate(-568.88 -28.65)" />
                <rect class="cls-2" x="24.14" y="14.48" width="4.96" height="24.19" />
                <path class="cls-2"
                    d="M617.38,62.06a7.19,7.19,0,0,1-3.66,1.21c-1.6,0-2.33-.84-2.33-2.73V47.7h5.05V43.15H611.4V35.62l-4.85,2.6v4.92h-4.19V47.7h4.19V61.36c0,3.72,2.2,6.26,5.49,6.33a7.77,7.77,0,0,0,4.39-1.11l0.05,0,1.19-4.66Z"
                    transform="translate(-568.88 -28.65)" />
                <rect class="cls-2" x="52.61" y="14.48" width="4.96" height="24.19" />
                <path class="cls-2"
                    d="M635.31,37.24a0.39,0.39,0,0,1-.45.4H634.1V36.83h0.75a0.4,0.4,0,0,1,.45.4m0.49,0a0.83,0.83,0,0,0-.93-0.86h-1.24V39.2h0.48V38.11h0.55l0.55,1.09h0.57l-0.58-1.14a0.81,0.81,0,0,0,.6-0.84m1.41,0.61a2.6,2.6,0,1,0-2.6,2.6,2.55,2.55,0,0,0,2.6-2.6m-0.42,0a2.18,2.18,0,1,1-2.18-2.18,2.14,2.14,0,0,1,2.18,2.18"
                    transform="translate(-568.88 -28.65)" />
            </svg></a>
        <ul class="footer_menu">
            <li><a href="<%= pTermsAndConditionsLink.GetStringURL() %>" target="_blank">Terms &amp; Conditions</a></li>
            <li><a href="<%= pPrivacyLink.GetStringURL() %>" target="_blank">Privacy</a></li>
            <li><a href="<%= pSecurityLink.GetStringURL() %>" target="_blank">Security</a></li>
            <li><a href="<%= pContactUsLink.GetStringURL() %>" target="_blank">Contact Us</a></li>
        </ul>
        <ul class="social">
            <li class="fb"><a href="<%= pFacebookLink.GetStringURL() %>" target="_blank" class="fb open-speedbump"><svg
                        class="fb" title="Facebook" viewBox="0 0 6 12" xmlns="http://www.w3.org/2000/svg">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g fill="#FFFFFF">
                                <path
                                    d="M5.9985,3.8861 L3.9555,3.8861 L3.9555,2.6411 C3.9555,2.1741 4.2895,2.0631 4.5245,2.0631 L5.9645,2.0631 L5.9645,0.0071 L3.9805,0.0001 C1.7765,0.0001 1.2745,1.5341 1.2745,2.5151 L1.2745,3.8861 L-0.0005,3.8861 L-0.0005,6.0031 L1.2745,6.0031 L1.2745,12.0001 L3.9555,12.0001 L3.9555,6.0031 L5.7645,6.0031 L5.9985,3.8861 Z">
                                </path>
                            </g>
                        </g>
                    </svg>Facebook</a></li>
            <li class="tw"><a href="<%= pTwitterLink.GetStringURL() %>" target="_blank" class="tw open-speedbump"><svg
                        class="tw" title="Twitter" width="16px" height="14px" viewBox="0 0 16 14"
                        xmlns="http://www.w3.org/2000/svg">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-32.000000, 0.000000)" fill="#FFFFFF">
                                <path
                                    d="M48.0004,1.6564 C47.4124,1.9384 46.7794,2.1284 46.1154,2.2124 C46.7924,1.7754 47.3124,1.0834 47.5584,0.2574 C46.9244,0.6624 46.2214,0.9564 45.4734,1.1144 C44.8744,0.4294 44.0214,0.0004 43.0774,0.0004 C41.2654,0.0004 39.7954,1.5804 39.7954,3.5344 C39.7954,3.8114 39.8244,4.0804 39.8794,4.3394 C37.1524,4.1914 34.7324,2.7844 33.1154,0.6454 C32.8314,1.1684 32.6704,1.7754 32.6704,2.4224 C32.6704,3.6484 33.2494,4.7314 34.1294,5.3644 C33.5914,5.3484 33.0854,5.1884 32.6424,4.9224 L32.6424,4.9674 C32.6424,6.6804 33.7754,8.1084 35.2754,8.4334 C35.0014,8.5134 34.7114,8.5574 34.4104,8.5574 C34.1994,8.5574 33.9944,8.5354 33.7944,8.4934 C34.2114,9.8984 35.4234,10.9194 36.8594,10.9484 C35.7364,11.8954 34.3224,12.4604 32.7834,12.4604 C32.5184,12.4604 32.2574,12.4444 32.0004,12.4114 C33.4534,13.4144 35.1784,13.9994 37.0324,13.9994 C43.0714,13.9994 46.3724,8.6124 46.3724,3.9434 C46.3724,3.7904 46.3684,3.6374 46.3624,3.4864 C47.0044,2.9874 47.5604,2.3654 48.0004,1.6564">
                                </path>
                            </g>
                        </g>
                    </svg>Twitter</a></li>
            <li class="yt"><a href="<%= pYoutubeLink.GetStringURL() %>" target="_blank" class="yt open-speedbump"><svg
                        class="yt" title="YouTube" viewBox="0 0 16 11" xmlns="http://www.w3.org/2000/svg">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(-75.000000, 0.000000)" fill="#FFFFFF">
                                <path
                                    d="M81,7.5 L81,3.5 L85,5.5 L81,7.5 Z M89,0 L77,0 C75.895,0 75,0.895 75,2 L75,9 C75,10.104 75.895,11 77,11 L89,11 C90.105,11 91,10.104 91,9 L91,2 C91,0.895 90.105,0 89,0 Z">
                                </path>
                            </g>
                        </g>
                    </svg>Youtube</a></li>
        </ul>
        <hr>
        <div class="content">
            <div class="utilities">
                <a href="files/TERMS AND CONDITIONS_Checking Tiered Offer.pdf" target="_blank" title="print"
                    id="printBtn" aria-label="Print">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.5 13.75">
                        <path class="cls-2"
                            d="M17.5,11.25h1.25V12.5H17.5Zm3.75,0v5H17.5v2.5H7.5v-2.5H3.75v-5a2.5,2.5,0,0,1,2.5-2.5H7.5V5h10V8.75h1.25A2.5,2.5,0,0,1,21.25,11.25ZM8.75,8.75h7.5V6.25H8.75Zm0,8.75h7.5V13.75H8.75ZM20,12.5V11.25A1.25,1.25,0,0,0,18.75,10H6.25A1.25,1.25,0,0,0,5,11.25V15H7.5V12.5h10V15H20Z"
                            transform="translate(-3.75 -5)" />
                    </svg>
                </a>
                <a href="files/TERMS AND CONDITIONS_Checking Tiered Offer.pdf" title="download" download
                    id="downloadBtn" aria-label="Download">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 13.75">
                        <path class="cls-2"
                            d="M20,13.75V15a3.75,3.75,0,0,1-3.75,3.75H8.75A3.75,3.75,0,0,1,5,15V13.75H6.24V15a2.51,2.51,0,0,0,2.51,2.51h7.5A2.51,2.51,0,0,0,18.76,15V13.75ZM13.12,10V5H11.88v5H9.61l2.89,5,2.89-5Z"
                            transform="translate(-5 -5)" />
                    </svg>
                </a>
            </div>
            <hr>
            {{!--
            <h2 class="terms-caret"><span class="caret"></span><strong>Important Legal Disclosures and
                    Information</strong></h2> --}}
            <h2>    
                <button id="" aria-expanded="true" aria-controls="panel" class="accordion active">Important Legal Disclosures and
                Information</button></h2>
            <div class="panel panel-open" id="footer-panel">
                <div class="terms-container">
                    <h3 id='terms'>TERMS AND CONDITIONS</h3>
                    <p>If you choose to change packages within 30 days of account opening (see “Package Options” below),
                        your change reflects 1) that you have reviewed the new package offer’s Terms and Conditions,
                        which appear in this document and 2) have consented to participate in the offer for that
                        package.</p>
                    <h4>Eligibility</h4>
                    <p>&quot;Eligible Customers&quot; are New-to-Citibank Customers.</p>
                    <h4>Required Activities</h4>
                    <p class="required-activities-p">Eligible Customers can earn the $200, $400, $700 or $1,500 “Cash
                        Bonus” during the Offer Period by completing the following “Required Activities”:</p>
                    <ul class="required-activities">
                        <li>
                            <p>First, enroll in this offer pursuant to the enrollment instructions provided by Citibank;
                                <p>
                        </li>
                        <li>
                            <p>Second, open a new consumer regular checking or interest checking account as first signer
                                in an applicable account package (“Eligible Checking Account”);<p>
                        </li>
                        <li>
                            <p>Third, complete the two parts of the Balance Requirement (see Balance Requirement and
                                Chart below); and<p>
                        </li>
                        <li>
                            <p>Fourth, certain offers (see Chart below) require Eligible Customers open a new Citi
                                Savings Account as first signer in the same account package (“Eligible Savings
                                Account”). </p>
                            <p>Note: The Eligible Savings Account must be opened within 30 days of opening your Eligible
                                Checking Account. </p>
                        </li>
                    </ul>
                    <p>If Eligible Customers open their eligible accounts by any means other than those described, they
                        will not be enrolled in this Offer and will not be eligible for the Cash Bonus. </p>
                    <h4>&quot;Balance Requirement&quot;</h4>
                    <ul class="first-list">
                        <li>
                            <p>First, any owner of either eligible account must make the “Minimum Deposit” amount (see
                                chart) or more in New-to-Citibank Funds into the new Eligible Checking Account and/or
                                the new Eligible Savings Account within 30 calendar days of checking account opening
                                (multiple deposits allowed). </p>
                        </li>
                    </ul>
                    <p class="basic-banking-note">Note: The Basic Banking Package offer only requires opening an Eligible Checking Account
                        and the Minimum Deposit must be made into the Eligible Checking Account. </p>
                    <ul>
                        <li class="chart">
                            <h4>Chart</h4>
                            <table>
                                <tr>
                                    <th>
                                        <p>Cash Bonus</p>
                                    </th>
                                    <th>
                                        <p>Account Package</p>
                                    </th>
                                    <th>
                                        <p>Minimum Deposit and Minimum Balance</p>
                                    </th>
                                    <th>
                                        <p>Savings Account Required</p>
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <p>$200</p>
                                    </td>
                                    <td>
                                        <p>Basic Banking Package</p>
                                    </td>
                                    <td>
                                        <p>$5,000</p>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>$400</p>
                                    </td>
                                    <td><span class="accountAria">The Citibank® Account Package</span>
                                        <p aria-hidden="true">The Citibank<sup>&reg;</sup> Account Package</p>
                                    </td>
                                    <td>
                                        <p>$15,000</p>
                                    </td>
                                    <td><svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="33" height="24"
                                            viewBox="0 -4 33 24">
                                            <image width="25" height="18"
                                                xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAYCAYAAAB0kZQKAAABoElEQVRIicWWSUsDQRCFvySuiCIhKJq4gcvBgwcP4r/3IoJgQCEiIaISXIL7bvTwpGMFhkwbJjqTPKjDTL+u+roGpisliR5pC9gEcn09AEgBO8AG8AV8dBsiDewC68AnsOJAugnhAIrAGlAHloCqW+gWRAbYB1Zd+4FF4Ly52A0IV6MELAPvwAJQazUkqX7g0E7+BswD1z7KpDQIHAFzwCswA9yHXAlCDAFloAC8GMBjyJUgxDBQAaaAJwN4DrkShBgBjoEJO3nBPkVbpdstdqhR4ASYtG8/HQWAGDsxZgBZ4MY6UA+5fpHrxB6w7V+OpHHgzABq1oHIAA1JutSPKu5G7TCykh5s/7mkzB9yNCAGAolOfaZfIifpyfZV/wrQhHDRJ+kukDBkbIlJSS8B8JTH0zEEdpIbS3zhM1tMSXoz3/F/AVohmiA1K3DlKZCX9G7rZV/COCBcpK0TTtcBkFlJH/a+5NkXKwRWuGoFbyUtSarb84HH/69oN+im7AfkbkHZc9FGs1jV7rftCrv7311GTs3ZMHZFHfnzwXEsVgHfvAoUbUAaOc0AAAAASUVORK5CYII=" />
                                        </svg></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>$700</p>
                                    </td>
                                    <td>
                                        <p>Citi Priority Package</p>
                                    </td>
                                    <td>
                                        <p>$50,000</p>
                                    </td>
                                    <td><svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="33" height="24"
                                            viewBox="0 -4 33 24">
                                            <image width="25" height="18"
                                                xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAYCAYAAAB0kZQKAAABoElEQVRIicWWSUsDQRCFvySuiCIhKJq4gcvBgwcP4r/3IoJgQCEiIaISXIL7bvTwpGMFhkwbJjqTPKjDTL+u+roGpisliR5pC9gEcn09AEgBO8AG8AV8dBsiDewC68AnsOJAugnhAIrAGlAHloCqW+gWRAbYB1Zd+4FF4Ly52A0IV6MELAPvwAJQazUkqX7g0E7+BswD1z7KpDQIHAFzwCswA9yHXAlCDAFloAC8GMBjyJUgxDBQAaaAJwN4DrkShBgBjoEJO3nBPkVbpdstdqhR4ASYtG8/HQWAGDsxZgBZ4MY6UA+5fpHrxB6w7V+OpHHgzABq1oHIAA1JutSPKu5G7TCykh5s/7mkzB9yNCAGAolOfaZfIifpyfZV/wrQhHDRJ+kukDBkbIlJSS8B8JTH0zEEdpIbS3zhM1tMSXoz3/F/AVohmiA1K3DlKZCX9G7rZV/COCBcpK0TTtcBkFlJH/a+5NkXKwRWuGoFbyUtSarb84HH/69oN+im7AfkbkHZc9FGs1jV7rftCrv7311GTs3ZMHZFHfnzwXEsVgHfvAoUbUAaOc0AAAAASUVORK5CYII=" />
                                        </svg></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>$1,500</p>
                                    </td>
                                    <td>
                                        <p>Citigold Package</p>
                                    </td>
                                    <td>
                                        <p>$200,000</p>
                                    </td>
                                    <td><svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="33" height="24"
                                            viewBox="0 -4 33 24">
                                            <image width="25" height="18"
                                                xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAYCAYAAAB0kZQKAAABoElEQVRIicWWSUsDQRCFvySuiCIhKJq4gcvBgwcP4r/3IoJgQCEiIaISXIL7bvTwpGMFhkwbJjqTPKjDTL+u+roGpisliR5pC9gEcn09AEgBO8AG8AV8dBsiDewC68AnsOJAugnhAIrAGlAHloCqW+gWRAbYB1Zd+4FF4Ly52A0IV6MELAPvwAJQazUkqX7g0E7+BswD1z7KpDQIHAFzwCswA9yHXAlCDAFloAC8GMBjyJUgxDBQAaaAJwN4DrkShBgBjoEJO3nBPkVbpdstdqhR4ASYtG8/HQWAGDsxZgBZ4MY6UA+5fpHrxB6w7V+OpHHgzABq1oHIAA1JutSPKu5G7TCykh5s/7mkzB9yNCAGAolOfaZfIifpyfZV/wrQhHDRJ+kukDBkbIlJSS8B8JTH0zEEdpIbS3zhM1tMSXoz3/F/AVohmiA1K3DlKZCX9G7rZV/COCBcpK0TTtcBkFlJH/a+5NkXKwRWuGoFbyUtSarb84HH/69oN+im7AfkbkHZc9FGs1jV7rftCrv7311GTs3ZMHZFHfnzwXEsVgHfvAoUbUAaOc0AAAAASUVORK5CYII=" />
                                        </svg></td>
                                </tr>
                            </table>
                        </li>
                        <li>
                            <p>Second, the “Minimum Balance” (see Chart) must be met within the first 30 calendar days
                                of account opening and maintained for 60 consecutive calendar days from the date the
                                Minimum Balance is met. As applicable to certain offers, the Minimum Balance may be held
                                in one or both of the eligible accounts. </p>
                            <p>Note: If you choose to keep your entire Minimum Balance in one account, however, please
                                note any account that maintains a zero balance for 90 days is subject to closure in
                                Citibank’s sole discretion. </p>
                        </li>
                    </ul>
                    <h4>Cash Bonus</h4>
                    <p>The Cash Bonus will be credited within 90 calendar days from the date you complete all required
                        activities. Your new Eligible Checking and/or Savings Account must be open and in good standing
                        at the time the Cash Bonus is paid or no Cash Bonus will be paid. At the time the Cash Bonus is
                        paid, it will be credited to (1) your new Eligible Checking Account if both your Eligible
                        Checking Account and Eligible Savings Account are open, (2) your new Eligible Checking Account
                        if your Eligible Savings Account is closed, or (3) your new Eligible Savings account if your
                        Eligible Checking Account is closed. </p>
                    <h4 class="package-options">Package Options</h4>
                    <p class="package-options-p">You might qualify to earn a different Cash Bonus if you make a package
                        change within 30 days of account opening. Package changes after day 30 may be available, but
                        will not affect the Cash Bonus you are eligible to receive. Here's how: </p>
                    <ul>
                        <li>
                            <p>If you open and enroll in the $200 Basic Package offer but choose to change to the
                                Citibank, Citi Priority or Citigold Package within 30 days of account opening, you must
                                meet all the Required Activities and Balance Requirements for either the $400 Citibank
                                Package offer, $700 Citi Priority Package offer, or the $1,500 Citigold Package offer
                                (see Chart for applicable Minimum Deposit and Minimum Balance requirements) to be
                                eligible to receive a Cash Bonus applicable to the new account package. If your Basic
                                Package changes to the Citibank, Citi Priority, or Citigold Package and you meet the
                                Balance Requirement and Required Activities for your new package offer during the 60-day
                                balance maintenance period, you will only be eligible to receive the Cash Bonus
                                applicable to the Basic Package.</p>
                        </li>
                        <li>
                            <p>If you open and enroll in the $400 Citibank Package offer but choose to change to the
                                Citi Priority or Citigold Package within 30 days of account opening, you must meet all
                                the Required Activities and Balance Requirements for either the $700 Citi Priority
                                Package offer or the $1,500 Citigold Package offer (see Chart for applicable Minimum
                                Deposit and Minimum Balance) to be eligible to receive a Cash Bonus applicable to the
                                new account package. If your Citibank Package changes to the Citi Priority, or Citigold
                                Package and you meet the Balance Requirement and Required Activities for your new
                                package offer during the 60-day balance maintenance period, you will only be eligible to
                                receive the Cash Bonus applicable to the Citibank Package.</p>
                        </li>
                        <li>
                            <p>If you open and enroll in the $700 Citi Priority Package offer but choose to change to
                                the Citigold Package within 30 days of account opening, you must meet all the Required
                                Activities and Balance Requirements for the $1,500 Citigold Package offer (see Chart for
                                applicable Minimum Deposit and Minimum Balance requirements) to be eligible to receive a
                                Cash Bonus. If your Citi Priority Package changes to the Citigold Package and you meet
                                the Balance Requirement and Required Activities for your new package offer during the
                                60-day balance maintenance period, you will only be eligible to receive the Cash Bonus
                                applicable to the Citi Priority Package.</p>
                        </li>
                    </ul>
                    <p><span class="note-italic">Note:</span> You may not convert your Citigold Package to the Citi
                        Priority, Citibank or Basic Package and still be eligible for the Cash Bonus. You may not
                        convert from your Citi Priority Package to the Citibank or Basic Package, nor can you convert
                        from your Citibank Package to the Basic Package and still be eligible for the Cash Bonus.</p>
                    <p class="note">The Citigold Package Cash Bonus offer is available in branch, by calling <span class="one-line">1-866-458-9209</span> or online at <a href="https://citi.com/citigoldoffer" target="_blank">citi.com/citigoldoffer.</a></p>
                    <h4>Applicable Fees</h4>
                    <p>For the Basic Banking Package, to waive the $12 monthly service fee, make one qualifying direct
                        deposit per statement period and one qualifying bill payment per statement period, or maintain a
                        $1,500+ combined average monthly balance in eligible linked accounts. A monthly service fee of
                        $25 and a $2.50 non-Citibank ATM fee apply to the checking account in The Citibank Package if a
                        combined average monthly balance of $10,000 or more is not maintained. A monthly service fee of
                        $30 applies to the checking account in The Citi Priority Package if a combined average monthly
                        balance of $50,000 or more is not maintained. There is no monthly service fee for a checking
                        account in the Citigold Package. If you do not maintain a minimum combined average monthly
                        balance of $200,000 in eligible linked deposit, retirement and investment accounts, your
                        Citigold Package will be converted to The Citi Priority Package and your accounts will be
                        subject to the terms and conditions then in effect for that package. Fees could reduce account
                        earnings. For all account pricing details please visit <a
                            href='https://www.citi.com/compareaccounts' target='_blank'>citi.com/compareaccounts</a>.
                    </p>
                    <p><strong>IMPORTANT TAX INFORMATION: The bonus will be reported to the IRS as interest to the first
                            signer on the account, in the year received, as required by applicable law. Bonus payments
                            received by U.S. persons will be reported on IRS Form 1099-INT for the year received. Bonus
                            payments received by non-U.S. persons will be reported on IRS Form 1042-S for the year
                            received. Customer is responsible for any applicable taxes and consulting a tax advisor.
                            Citi is not a tax advisor. To be eligible for the bonus, U.S. persons must furnish Citibank
                            with a valid IRS Form W-9 (Request for Taxpayer Identification Number and Certification) and
                            foreign individuals must furnish a valid IRS Form W-8BEN (Certificate of Foreign Status of
                            Beneficial Owner for United States Tax Withholding and Reporting (Individuals)). </strong>
                    </p>
                    <p>As applicable, variable rates subject to change before and after account opening. Terms,
                        conditions and fees for accounts, products, programs and services are subject to change and may
                        be withdrawn at any time prior to enrollment. All accounts subject to applicable terms, fees,
                        and charges. Fees may reduce earnings. Accounts subject to approval. Participation and
                        enrollment in a promotional offer does not guarantee eligibility or fulfillment of the
                        promotional offer. APYs are variable and subject to change without notice after the account is
                        opened.</p>
                    <p class="bold">Speak with a Bank representative for more details.</p>
                    <p class="bold">This offer is subject to the disclosure available at <a target='_blank'
                            href='http://www.citi.com/offerdetails'>www.citi.com/offerdetails</a>.</p>
                </div>
                <p id="terms2"><span aria-label="Superscript 2" tabindex="0"><sup aria-hidden="true">2</sup></span> Fees
                    charged by other institutions for your transactions on non-Citibank ATMs are beyond Citibank's
                    control and are in addition to the fees listed here.</p>
                <p id="terms3"><span aria-label="Superscript 3" tabindex="0"><sup aria-hidden="true">3</sup></span>
                    Separate enrollment of eligible consumer checking account in Citi ThankYou<sup>&reg;</sup> Rewards
                    required. Eligible customers with a checking account in the Citi Private Bank Account, Citigold
                    Account, Citi Priority Account or The Citibank Account Packages can enroll their checking accounts
                    in ThankYou Rewards. Eligibility and participation are subject to terms, conditions and
                    restrictions. Customer must be a citizen or resident alien of the United States (U.S.) with a valid
                    U.S. taxpayer identification number. Taxes, if any, are customer's responsibility. You must complete
                    1 qualifying Bill Payment and 1 qualifying Direct Deposit each statement period in order to earn
                    monthly ThankYou<sup>&reg;</sup> Points for eligible products and services linked to your checking
                    account. Citigold<sup>&reg;</sup>, Citi Priority and Citi Private Bank clients who do not complete
                    these transaction requirements can earn points at a reduced level. For complete details, see the <a
                        href="https://www.thankyou.com/cms/thankyou/tc.page?cmp=nav&lid=footer|ty-term-cond"
                        target="_blank">Citi ThankYou<sup>&reg;</sup> Rewards Terms and Conditions.</a></p>
                <p id="terms4"><span aria-label="Superscript 4" tabindex="0"><sup aria-hidden="true">4</sup></span>
                    Requires a checking account in a Citigold or Citi Priority Account Package. Accounts are subject to
                    approval.</p>
                <p id="terms5"><span aria-label="Superscript 5" tabindex="0"><sup aria-hidden="true">5</sup></span> As a
                    Citi Priority client, you can receive banking and lending services, including The Citi Priority
                    Account Package, from Citibank, N.A. (“Citibank”), Member FDIC and Equal Housing Lender NMLS#
                    412915, along with financial planning and investment products as a client of Citi Personal Wealth
                    Management, a business of Citigroup Inc., that offers investment guidance, products, and services
                    through Citigroup Global Markets Inc. (”CGMI”), <a href='https://www.sipc.org/'
                        target='_blank'>member SIPC</a>. Citigroup Life Agency LLC (“CLA”) offers insurance products. In
                    California, CLA does business as Citigroup Life Insurance Agency, LLC (license number 0G56746).
                    Citibank, CGMI, and CLA are affiliated companies under the common control of Citigroup Inc.</p>
                <p id="terms6"><span aria-label="Superscript 6" tabindex="0"><sup aria-hidden="true">6</sup></span>
                    Claim is based on locations in the United States where customers can make cash withdrawals with no
                    surcharge (usage) fee by the ATM operator. Citibank customers can get information and make transfers
                    between their eligible linked Citibank accounts with no surcharge fee when they use their
                    Citibank<sup>&reg;</sup> Banking Card at ATMs in the U.S. located at Citibank branches, ATMs at
                    select retail store locations, and ATMs participating in the MoneyPass<sup>&reg;</sup> App to find
                    the nearest ATMs and branches, including non-Citibank ATMs in the U.S. with surcharge-free access.
                    MoneyPass is a registered trademark of U.S. Bank National Association.</p>
                <p id="terms7"><span aria-label="Superscript 7" tabindex="0"><sup aria-hidden="true">7</sup></span> In
                    order to use these features, you must provide Citi with online access to your external financial
                    institution accounts you link through the app. Features available on the Citi Mobile<sup>&reg;</sup>
                    App.</p>
                <p id="terms8"><span aria-label="Superscript 8" tabindex="0"><sup aria-hidden="true">8</sup></span>
                    Regular account charges apply. Citibank does not charge you a fee for using the Citi
                    Mobile<sup>&reg;</sup> App or the Mobile Check Deposit service. You must have Internet access
                    through your mobile device and charges from your wireless carrier may apply. The Mobile Check
                    Deposit service is for personal checking accounts only and is subject to eligibility. Deposit limits
                    and other restrictions apply.</p>
                <p>&copy;<%= szYearOnly %> Citigroup Inc. Citi, Citi and Arc Design and other marks used
                    herein are service marks of Citigroup Inc. or its affiliates, used and registered throughout the
                    world.</p>

            </div>

            <a href="#" tabindex="0" class="back-to-top animated infinite bounce"><svg width="38px" height="38px"
                    viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g>
                            <rect fill="#056DAE" x="0" y="0" width="38" height="38" rx="5"></rect>
                            <polygon fill="#FFFFFF" points="18.49 14 10 21.733 10 24 18.512 16.381 28 24 28 21.733">
                            </polygon>
                        </g>
                    </g>
                </svg>BACK TO TOP</a>
</footer>