<div class="modal-overlay hidden" data-class="open-modal" role="dialog" arial-modal="true">
	<div class="modal-box">	
		<p id="terms1" class="modal-title"><sup>1</sup>TERMS AND CONDITIONS</p>	
		<p class="modal-subtitle">All applicable account terms, fees, and charges are subject to change. This offer may be modified or withdrawn at any time without notice.</p>
		<div class="modal-content">

			<p><strong>WHO IS ELIGIBLE FOR THIS OFFER?</strong><br>
			“Eligible Customers” are New-to-Citibank Customers who (1) enroll in Citibank’s “$200 Checking Offer, (2) open a new Eligible Checking Account, (3) are at least eighteen (18) years of age, and (4) have a valid W-9 or W-8 BEN on file with Citibank and are not subject to back-up withholding. </p>
			<p>“New–to–Citibank Customers” are customers who have not been an owner of a Citibank checking account within the last 180 calendar days. </p>

			<p><strong>WHAT IS BEING OFFERED IN THIS CASH BONUS OFFER?</strong><br> 
			If you are an Eligible Customer, enroll in the $200 Checking Offer, and fulfill required activities (see required activities below), you can earn a $200 “Cash Bonus” <strong>which will be credited to your new Eligible Checking Account within ninety (90) calendar days from the date you complete all required activities.</strong> At the time the Cash Bonus is credited to your Eligible Checking Account, your new Eligible Checking Account must be open <strong>and</strong> in good standing.</p> 

			<p><strong>PLEASE NOTE: Accounts which have a zero balance for ninety (90) days are subject to closure and will not meet the requirements of this offer.</strong></p>

			<p><strong>IF I AM ELIGIBLE, HOW DO I ENROLL IN THIS PROMOTION?</strong><br>
			Between October 1, 2018 and December 31, 2018 (“Offer Period”), Eligible Customers can enroll in the $200 Checking Offer in the Basic Banking Package by visiting a Citibank branch or calling Citibank and asking a Citibank Representative to enroll you.  Eligible Customers also can enroll by visiting <u>citi.com/checkingrewards</u> to apply for this offer and completing the online process. Enrollment and participation in this promotion does not guarantee eligibility.</p>  


			<p><strong>WHAT ARE THE REQUIRED ACTIVITIES TO EARN THE CASH BONUS FOR THIS CHECKING OFFER?</strong><br>
			To qualify to earn the Cash Bonus, you must enroll in this promotion. See “If I am eligible, how do I enroll in this promotion?”  Eligible Customers must open a new consumer regular checking account in the Basic Banking Package as first signer (“Eligible Checking Account”) during the Offer Period.  Within thirty (30) days of opening the new Eligible Checking Account, any owner must make a deposit of $5,000 or more (multiple deposits allowed) in New-to-Citibank Funds into the new Eligible Checking Account.  A minimum balance of $5,000 must be maintained for sixty (60) consecutive calendar days following the date when the $5,000 deposit was made (“Minimum Balance”). </p>

			<p>“New-to-Citibank Funds” are funds deposited from sources outside of Citibank N.A., and must be deposited via ACH, Direct Deposit, and/or via checks or wires.  Cash deposits do not qualify as New-to-Citibank Funds.</p>

			<p>Fiduciary, estate, business and or trust accounts are not eligible for the $200 Checking Offer even if they otherwise meet the definition of Eligible Checking Account. However, trust accounts that are a living trust and custodial accounts are eligible. All accounts subject to approval.</p>

			<p><strong>AFTER I OPEN MY ACCOUNT AND ENROLL IN THE $200 CHECKING OFFER, ARE THERE ANY APPLICABLE FEES?</strong><br>
			For the Basic Banking Package, to waive the $12 monthly service fee make one qualifying direct deposit per statement period and one qualifying bill payment per statement period or maintain a $1500+ combined average monthly balance in eligible linked accounts.  Regular account charges apply. All accounts are subject to approval and applicable fees.  Fees could reduce account earnings.</p>

			<p>For all account pricing details please visit <u>citi.com/compareaccounts</u>.</p>

			<p><strong>IMPORTANT TAX INFORMATION: The bonus will be reported to the IRS as interest to the first signer on the account, in the year received, as required by applicable law. Bonus payments received by U.S. persons will be reported on IRS Form 1099-INT for the year received. Bonus payments received by non-U.S. persons will be reported on IRS Form 1042-S for the year received. Customer is responsible for any applicable taxes and consulting a tax advisor. Citi is not a tax advisor. To be eligible for the bonus, U.S. Persons must furnish Citibank with a valid IRS Form W-9 (Request for Taxpayer Identification Number and Certification).  Foreign Individuals must furnish a valid IRS Form W-8BEN (Certificate of Foreign Status of Beneficial Owner for United States Tax Withholding and Reporting (Individuals), and the account holder must not be subject to backup withholding.</strong></p>

			<p><strong>Speak with a Bank representative for more details.</strong></p>

			<p><strong>CAN I ENROLL IN MULTIPLE SAVINGS AND CHECKING ACCOUNT OFFERS?</strong><br>
			Yes, with the following limitations. The $200 Checking Offer is a checking account offer. Eligible Customers are limited to one checking account offer during the Offer Period. If you enroll in multiple checking account offers during the Offer Period and fulfill multiple checking account offers in the same month, you will be awarded the offer with the highest bonus value. If you enroll in multiple checking account offers during the Offer Period, fulfill multiple checking account offers in the same month, but the offers are of the same value with one being cash and the other not cash; you will be awarded the cash bonus offer. If you enroll in multiple checking account offers during the Offer Period and fulfill multiple checking account offers across different months, you will be awarded the bonus of the first checking offer to qualify. Eligible Customers may be enrolled in a Citibank checking offer and savings offer during the same offer period unless expressly prohibited; however, each offer must be funded separately.</p>

			<i>Citibank provides information about and access to accounts and financial services provided by Citibank, N.A. and its affiliates in the United States and its territories.  The Citibank Checking Cash Offer is not, and should not be construed as, an offer, invitation or solicitation to buy or sell the products or services at issue to individuals outside of the United States.</i></p>

			©<%= szYearOnly %> Citibank, N.A. Member FDIC. Citi, Citi and Arc Design and other marks used herein are service marks of Citigroup Inc. or its affiliates, used and registered throughout the world.</p>

		</div>		
		<a class="print" href="files/Citibank_$200_Offer_Terms_and_Conditions.pdf" target="_blank" aria-label="print"></a>
		<a class="download" href="files/Citibank_$200_Offer_Terms_and_Conditions.pdf" target="_blank" download aria-label="download"></a>
		<button class="close-dialog" type="button" aria-label="close"></button>
	</div>
</div>
