<div class="speedbump-overlay hidden" data-class="open-speedbump" role="dialog" aria-labelledby="dialogTitle" aria-describedby="dialogDesc" arial-modal="true">
	<div class="dialog-box">
		<h2 id="dialogTitle" class="dialog-title">You are going to external site</h2>
		<p id="dialogDesc">That site has a privacy policy and security that are different from that of the Citigroup website.</p>
		<a class="continue citi-btn btn-blue" href="#" target="_blank">Continue</a>
		<button class="close-dialog" type="button" aria-label="close">&times;</button>
	</div>
</div>
