<section class="offer-details">
    <div class="box" aria-hidden="false">
        <div class="top">
            <div class="heading">
                <h2 class="offerTitle">Earn</h2>
                <span class="remaining">when you open a new eligible checking and savings account and complete required
                    activities</span>
            </div>
            <img class="offer-img" src="images/offer_400.jpg" alt="Earn up to $400">
        </div>
        <div class="bottom">
            <div class="left-content">
                <div class="offer-content">
                    <div class="offer-container" id="offerContainer"></div>
                </div>
                <div class="additional-info">
                     <div class="info-wrapper">
                    <h3 class="title">ADDITIONAL INFORMATION</h3>
                    <p>You will receive your cash bonus within 90 days after you complete the required activities.</p>
                    </div>
                </div>
            </div>
            <div class="right-content">
                <div class="get-started">
                    <h3 class="title">GET STARTED</h3>
                    <p>To enroll in this offer, you must apply directly from this page.</p>
                    <a class="terms" href="#terms">See offer Terms and Conditions</a>
                    <a id="BodyApplyNow" class="stickyTrigger citi-btn btn-dkblue open-modal-accounts applyNow"  tabindex ="0" aria-label="Apply now for CitiBank Account">Apply Now</a>
                </div>
                <div class="questions">
                    <div class="ques-wrapper">
                        <h3 class="title">CONTACT</h3>
                        <p>Have questions? <a class="visit" href="<%= pVisitCitiBranch.GetStringURL() %>" target="_blank">Visit
                            a Citibank
                            branch</a> or call <a disabled="disabled" class="first-number" href="tel:1-866-458-9209">1-866-458-9209</a><span>TTY: <a class="phone-no"
                               disabled="disabled" href="tel:1-800-945-0258">1-800-945-0258</a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>