<section class="carousel">
    <!-- Swiper -->
    <div class="swiper-pagination"></div>
    <div class="swiper-container" role="region" aria-label ="caraousel" >
        <div class="swiper-wrapper">
            <div class="swiper-slide" role="tabpanel" aria-label="offer 400">
                <div class="slide-container">
                    <h2 class="headline">CITIBANK<sup>®</sup> ACCOUNT</h2>
                    <hr class="wrapper">
                    <span class="earn earn-upto">EARN</span>
                    <span class="dollar">$</span>
                    <span class="ammount">400</span>
                    <hr class="wrapper bottom-wrapper">
                    {{!-- <a href="#" id="applyCta" class="citi-btn btn-dkblueapplyNowBtn">Apply Now</a> --}}

                    <a class="HeroApplyNow500 citi-btn btn-dkblue open-modal-accounts applyNow stickyTrigger"  aria-label="Apply now for a CitiBank Account">Apply
                        Now</a>
                    <a href="#" class="citi-btn btn-dkblue learnMore" >Learn More</a>

                    {{!-- <a href="#" class="terms" class="citi-btn btn-dkblue">See offer terms and conditions</a> --}}
                    <a class="terms" href="#terms">See offer Terms and Conditions</a>
                </div>
            </div>
            <div class="swiper-slide" role="tabpanel" aria-label="offer 700">
                <div class="slide-container">
                    <h2 class="headline">CITI PRIORITY ACCOUNT</h2>
                    <hr class="wrapper">
                    <span class="earn">EARN</span>
                    <span class="dollar">$</span>
                    <span class="ammount">700</span>
                    <hr class="wrapper bottom-wrapper">
                    {{!-- <a href="#" id="applyCta" class="citi-btn btn-dkblueapplyNowBtn">Apply Now</a> --}}

                    <a class="HeroApplyNow600 citi-btn btn-dkblue open-modal-accounts applyNow stickyTrigger" aria-label="Apply now for a Citi Priority Account">Apply
                        Now</a>
                    <a href="#" class="citi-btn btn-dkblue learnMore">Learn More</a>

                    {{!-- <a href="#" class="terms" class="citi-btn btn-dkblue">See offer terms and conditions</a> --}}
                    <a class="terms" href="#terms">See offer Terms and Conditions</a>

                </div>
            </div>
            <div class="swiper-slide" role="tabpanel" aria-label="offer 200">
                <div class="slide-container">
                    <h2 class="headline">BASIC BANKING ACCOUNT</h2>
                    <hr class="wrapper">
                    <span class="earn">EARN</span>
                    <span class="dollar">$</span>
                    <span class="ammount">200</span>
                    <hr class="wrapper bottom-wrapper">
                    {{!-- <a href="#" id="applyCta" class="citi-btn btn-dkblueapplyNowBtn">Apply Now</a> --}}

                    <a class="HeroApplyNow200 citi-btn btn-dkblue open-modal-accounts applyNow stickyTrigger" aria-label="Apply now for a Basic Banking account">Apply
                        Now</a>
                    <a href="#" class="citi-btn btn-dkblue learnMore">Learn More</a>

                    {{!-- <a href="#" class="terms" class="citi-btn btn-dkblue">See offer terms and conditions</a> --}}
                    <a class="terms" href="#terms">See offer Terms and Conditions</a>
                </div>
            </div>
         



        </div>
    </div>

</section>