{{!-- <div class="sticky-bar">
	<div class="left-content">
		<p class="sticky-content">Open an Account and Earn $500</p>
		<a href="#terms">See offer Terms and Conditions</a>
	</div>
	<div class="right-content">
		<button id="StickyApplyNow" class="citi-btn btn-dkblue open-modal-accounts applyNow touch-device stickyTrigger" aria-label="Apply now for CitiBank Account">Apply Now</button>
	</div>
</div> --}}

<nav class="sticky-bar">
	<div class="sticky-wrapper">
		<div class="left-content">
			<div class="offer-700">
				<span class="earn">EARN</span>
				<span class="ammount sticky-amount">$400</span>
			</div>
			<div class="heading">
				<h1>Don't miss out on this limited-time offer</h1>
				<a href="#terms" class="termsTrigger">See Offer Terms and Conditions</a>
			</div>


		</div>
		<div class="right-content">
			<a id="StickyApplyNow"
				class="citi-btn btn-dkblue open-modal-accounts applyNow touch-device stickyTrigger"
				aria-label="Apply now for CitiBank Account">Apply Now</a>
		</div>
	</div>
</nav>